@page
@model ProjectCA.Pages.Manufacturers.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <a asp-page="../Instruments/Index">Back to List </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Manufacturer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ManufacturerID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ManufacturerID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ManufacturerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
